---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'; // 動画部分
import HeroContent from '../components/HeroContent.astro'; // 文字部分 (追加)
import Features from '../components/Features.astro';
import Works from '../components/Works.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import LineButton from '../components/LineButton.astro';
import LineSection from '../components/LineSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
  title="名古屋の格安ホームページ制作 LiteSite" 
>
  <main>
    <Hero />
    
    <HeroContent />

    <Features />
    <Works />
    <LineSection />
    <Pricing />
    <FAQ />
    <LineButton />
    <Footer />
  </main>
</Layout>