---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Works from '../components/Works.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import LineButton from '../components/LineButton.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="名古屋の格安ホームページ制作 | ライトサイト">
	<main>
		<Hero />
		<Features />
		<Works />
		<Pricing />
		<FAQ />
		<LineButton />
		<Footer />
	</main>
</Layout>